openapi: 3.1.0
info:
  title: MYGPT Sprite Audit via GitHub Actions
  version: 2.0.0
  description: Sends one image generated in the current GPT conversation directly to GitHub Actions for sprite quality auditing.
servers:
  - url: https://api.github.com
paths:
  /repos/kaillebidan-byte/MYGPT/dispatches:
    post:
      operationId: dispatchSpriteAudit
      summary: Audit the generated sprite image from this conversation
      description: Send exactly one PNG, WebP, or JPEG image generated in the current conversation. Do not ask the user to upload the image to GitHub or another storage service.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_type, client_payload]
              properties:
                event_type:
                  type: string
                  enum: [sprite_audit]
                  default: sprite_audit
                client_payload:
                  type: object
                  required: [openaiFileIdRefs, request_id]
                  properties:
                    openaiFileIdRefs:
                      type: array
                      minItems: 1
                      maxItems: 1
                      items:
                        type: string
                      description: Exactly one sprite image generated in the current conversation. PNG, WebP, and JPEG are accepted. Use the generated image directly; do not request a manual upload.
                    request_id:
                      type: string
                      pattern: ^[A-Za-z0-9._-]{1,80}$
                      description: Unique audit identifier.
                    expected_states:
                      type: string
                      description: Comma-separated active states in row order. Empty means all official nine states.
                    spec_path:
                      type: string
                      default: specs/pet-atlas-8x9.json
                    normalize:
                      type: boolean
                      default: true
                    publish_issue:
                      type: boolean
                      default: true
      responses:
        "204":
          description: Audit event accepted by GitHub.
  /repos/kaillebidan-byte/MYGPT/actions/workflows/audit-sprite.yml/runs:
    get:
      operationId: listSpriteAuditRuns
      summary: List recent sprite audit workflow runs
      parameters:
        - name: event
          in: query
          schema:
            type: string
            enum: [repository_dispatch]
            default: repository_dispatch
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Workflow runs including display_title, status, conclusion, and id.
  /repos/kaillebidan-byte/MYGPT/actions/runs/{run_id}:
    get:
      operationId: getSpriteAuditRun
      summary: Read the status and conclusion of one sprite audit run
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Workflow run including status, conclusion, display_title, and URLs.
  /repos/kaillebidan-byte/MYGPT/actions/runs/{run_id}/artifacts:
    get:
      operationId: listSpriteAuditArtifacts
      summary: List output artifacts for one sprite audit run
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifact metadata including artifact ID, name, expiry, and download URL.
  /repos/kaillebidan-byte/MYGPT/issues:
    get:
      operationId: listSpriteAuditReports
      summary: List sprite audit issue reports
      parameters:
        - name: state
          in: query
          schema:
            type: string
            enum: [open, closed, all]
            default: all
        - name: labels
          in: query
          schema:
            type: string
            default: sprite-audit
        - name: per_page
          in: query
          schema:
            type: integer
            default: 30
      responses:
        "200":
          description: Audit report issues. Match the title `[sprite-audit] <request_id>`.
  /repos/kaillebidan-byte/MYGPT/issues/{issue_number}:
    get:
      operationId: getSpriteAuditReport
      summary: Read one sprite audit report
      parameters:
        - name: issue_number
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Audit issue containing failed rows and repair instructions.
components:
  schemas: {}
  securitySchemes:
    githubToken:
      type: http
      scheme: bearer
security:
  - githubToken: []
